.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 70px;
  z-index: 999;
  background-color: rgb(196, 76, 6);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  border-radius: 50%;
}

.scroll-top i {
  font-size: 32px !important;
  color: white;
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, rgb(228, 95, 7), transparent 20%);
  color: white;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}
